<!--/* Container app para o contexto Vue */-->

<div id="app">
  <p>{{message}}</p>
  <sly
    data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
    data-sly-repeat.child="${templatedContainer.structureResources}"
    data-sly-resource="${child.path @ resourceType=child.resourceType,
decorationTagName='div'}"
  ></sly>
  <sly
    data-sly-resource="${'cookiedisclaimer' @
resourceType='/apps/voo/components/hiddens/cookiedisclaimer',
decorationTagName='div'}"
  >
  </sly>
</div>
